<h1><%= @user.first_name %>, Дякуємо за вашу підписку!</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Breed</th>
      <th scope="col">City</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody id="subscription-table-body">

    <% (0..2).each do |num| %>
      <% if @subscriptions[num] %>
        <tr>
          <th scope="row" class="subscription-number"><b>Dog 1 </b></th>
          <td><%= @subscriptions[num].breed %></td>
          <td><%= @subscriptions[num].city %></td>
          <td><%= @subscriptions[num].age_from %>..
            <%= @subscriptions[num].age_to %>
          </td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

<div>
  <% if set_needed_dogs(@subscriptions) != [] %>
    <% set_needed_dogs(@subscriptions).each do |dogs| %>
      <% dogs.each do |dog| %>
        <p>Звертаю вашу увагу на те, що на сайті вже є потрібна вам собака: </p>
          <div>
            Ім'я собаки: <%= dog.name %> <br>
            Порода: <%= dog.breed %> <br>
            Місто: <%= dog.city %> <br>
            Вік: <%= dog.age %> <br>
            <% puts dog.inspect %>
            Власник собаки: <%= dog.user.last_name %> <%= dog.user.first_name %><br>
            Email власника собаки: <%= dog.user.email %> <br>
          </div>
          <hr>
      <% end %> 
    <% end %> 
  <% end %>
</div>

<p>To unsubscribe, just follow this link: http://stray-dogs.herokuapp.com/subscribes</p>
<p> Have a great day!</p>