<h1><%= @user.first_name %>, Дякуємо за вашу підписку!</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Breed</th>
      <th scope="col">City</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody id="subscription-table-body">

    <% (0..2).each do |num| %>
      <% if check_subscription_exist(num, @params_of_subscribed_dogs) %>
        <tr>
          <th scope="row" class="subscription-number"><b>Dog 1 </b></th>
          <td><%= Breed.where(id: @params_of_subscribed_dogs[:breed].values[num]).first.name %></td>
          <td><%= City.where(id: @params_of_subscribed_dogs[:city].values[num]).first.name %></td>
          <td><%= @params_of_subscribed_dogs[:age].values[num] %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

<div>
  <% if @needed_dogs != [] %>
    <% @needed_dogs.first.each do |dog| %>
      <p>Звертаю вашу увагу на те, що на сайті вже є потрібна вам собака: </p>
        <div>
          Ім'я собаки: <%= dog.name %> <br>
          Порода: <%= dog.breed.name %> <br>
          Місто: <%= dog.city.name %> <br>
          Вік: <%= dog.age.years %> <br>
          Власник собаки: <%= dog.user.last_name %> <%= dog.user.first_name %><br>
          Email власника собаки: <%= dog.user.email %> <br>
        </div>
        <hr>
    <% end %> 
  <% end %>
</div>

<p>To unsubscribe, just follow this link: http://stray-dogs.herokuapp.com/subscribes</p>
<p> Have a great day!</p>

     