<h1><%= @user.first_name %>, Дякуємо за вашу підписку!</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Breed</th>
      <th scope="col">City</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody id="subscription-table-body">
    <% @subscriptions.each do |subscription| %>
      <tr>
        <th scope="row" class="subscription-number"><b>Dog </b></th>
        <td><%= subscription.breed %></td>
        <td><%= subscription.city %></td>
        <td><%= subscription.age_from %>..
          <%= subscription.age_to %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <% if find_needed_dogs(@subscriptions) != [] %>
    <% find_needed_dogs(@subscriptions).each do |dogs| %>
      <% dogs.each do |dog| %>
        <p>Звертаю вашу увагу на те, що на сайті вже є потрібна вам собака: </p>
          <div>
            Ім'я собаки: <%= dog.name %> <br>
            Порода: <%= dog.breed %> <br>
            Місто: <%= dog.city %> <br>
            Вік: <%= dog.age %> <br>
            Власник собаки: <%= dog.user.last_name %> <%= dog.user.first_name %><br>
            Email власника собаки: <%= dog.user.email %> <br>
          </div>
          <hr>
      <% end %> 
    <% end %> 
  <% end %>
</div>

<p>To unsubscribe, just follow this link: http://stray-dogs.herokuapp.com/subscribes</p>
<p> Have a great day!</p>