<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <h1><%= @user.first_name %>, на сайті зявилась потрібна вам собака!</h1>
    
    <div>
      <p>
        <b>Ім'я:</b> <%= @dog.name %>
      </p>
      <p>
        <b>Порода:</b> <%= @dog.breed.name %>
      </p>
      <p>
        <b>Місто:</b> <%= @dog.city.name %>
      </p>
      <p>
        <b>Вік:</b> <%= @dog.age.years %>
      </p>
    </div>
  </body>
</html>