<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <h1><%= @user.first_name %>, thanks for your subscription!</h1>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Breed</th>
          <th scope="col">City</th>
          <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody id="subscription-table-body">
        <% if Breed.where(id: @parameters_of_dogs[:breed].values[0]).first %>
          <tr>
            <th scope="row" class="subscription-number"><b>Dog 1 </b></th>
            <td><%= Breed.where(id: @parameters_of_dogs[:breed].values[0]).first.name %></td>
            <td><%= City.where(id: @parameters_of_dogs[:city].values[0]).first.name %></td>
            <td><%= @parameters_of_dogs[:age].values[0] %></td>
          </tr>
        <% end %>

        <% if Breed.where(id: @parameters_of_dogs[:breed].values[1]).first %>
          
          <tr>
            <th scope="row" class="subscription-number"><b>Dog 2 </b></th>
            <td><%= Breed.where(id: @parameters_of_dogs[:breed].values[1]).first.name %></td>
            <td><%= City.where(id: @parameters_of_dogs[:city].values[1]).first.name %></td>
            <td><%= @parameters_of_dogs[:age].values[1] %></td>
          </tr>

        <% end %>

        <% if Breed.where(id: @parameters_of_dogs[:breed].values[2]).first %>

          <tr>
            <th scope="row" class="subscription-number"><b>Dog 3 </b></th>
            <td><%= Breed.where(id: @parameters_of_dogs[:breed].values[2]).first.name %></td>
            <td><%= City.where(id: @parameters_of_dogs[:city].values[2]).first.name %></td>
            <td><%= @parameters_of_dogs[:age].values[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div>
      <p>Звертаю вашу увагу на те, що на сайті вже є потрібна вам собака: </p>
      <% @needed_dogs.each do |dog| %>
        <% if dog.first != nil %>
          <div>
            Ім'я собаки: <%= dog.first.name %> <br>
            Порода: <%= dog.first.breed.name %> <br>
            Місто: <%= dog.first.city.name %> <br>
            Вік: <%= dog.first.age.years %> <br>
            Власник собаки: <%= dog.first.user.last_name %> <%= dog.first.user.first_name %><br>
            Email власника собаки: <%= dog.first.user.email %> <br>
          </div>
          <hr>
        <% end %>
      <% end %> 
    </div>

    <p>To unsubscribe, just follow this link: http://stray-dogs.herokuapp.com/subscribes</p>
    <p> Have a great day!</p>
  </body>
</html>
     