<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.first_name %></h1>
    <p>
      <br>
    </p>
    <p>Dog breed: <%= @breed.values[0] %>
       Dog city: <%= @city.values[0] %>
      Dog age: <%= @age.values[0] %>
    </p>
    <p>Dog 2 breed: <%= @breed.values[1] %>
       Dog 2 city: <%= @city.values[1] %>
      Dog 2 age: <%= @age.values[1] %>
    </p>
    <p>Dog 3 breed: <%= @breed.values[2] %>
       Dog 3 city: <%= @city.values[2] %>
      Dog 3 age: <%= @age.values[2] %>
    </p>
    <p>
      You have successfully signed up to example.com      
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
     