<h3 class="pb-4 mb-4 font-italic border-bottom">
  My favorites
</h3>

<div class="blog-post">

  <% current_user.favorites.each do |favorite| %>

    <hr>

    <div class="card">
      <h5 class="card-header"><%= favorite.dog.name %></h5>

      <div class="card-body">
        <h5 class="card-title"><%= favorite.dog.breed.name %></h5>
        <p class="card-text"><%= favorite.dog.age.years %></p>
        <%= link_to "Show", favorite.dog, class: "btn btn-primary" %> 
        <%= link_to "Remove", favorite, method: :delete, remote: true, class: "btn btn-warning" %> 
      </div>
    </div>
  <% end %>
</div>

<br>