

  <p id="notice"><%= notice %></p>

  <h3 class="pb-4 mb-4 font-italic border-bottom">
    All stray dogs <%= link_to 'Add new Dog', new_dog_path, class: 'btn btn-primary add-dog-btn' if logged_in?(:site_admin) %>
  </h3>
   
  <%= paginate @dogs %>

  <div class="blog-post">
    <% @dogs.each do |dog| %>

    <hr>
    
      <div class="card" style="width: 18rem;">
        <%= image_tag("example.jpg", class: 'card-img-top') %>
        <div class="card-body">
          <h5 class="card-title"><%= dog.name %></h5>
          <p class="card-text">Breed: <%= dog.breed.name %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">City: <%= dog.city.name %></li>
          <li class="list-group-item">Age: <%= dog.age.years %></li>
        </ul>
        <div class="card-body">
          <%= link_to 'Show', dog, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_dog_path(dog), class: 'btn btn-warning' if logged_in?(:site_admin) %>
          <%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark' if logged_in?(:site_admin) %>
        </div>
      </div>    
    <% end %>
  </div>

  <br>

  <%= paginate @dogs %>





