<p id="notice"><%= notice %></p>

<h1>All stray dogs</h1>

<%= link_to 'Add new animal', new_dog_path, class: 'btn btn-primary' %>

  <div>
    <% @dogs.each do |dog| %>

    <hr>
    
      <h3><%= dog.name %></h3>
      <p>Breed: <%= dog.breed.name %></p>
      <p>City: <%= dog.city.name %></p>
      <p>Age: <%= dog.age.years %></p>

      <%= link_to 'Show', dog, class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_dog_path(dog), class: 'btn btn-warning' %>
      <%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
    
    <% end %>
  </div>

<br>


