<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10">
    <h1>All stray dogs</h1>
  </div>
  <div class="col-md-2">
    <%= link_to 'Add new animal', new_dog_path, class: 'btn btn-primary' %>
  </div>
</div>

<%= paginate @dogs %>

  <div>
    <% @dogs.each do |dog| %>

    <hr>
    
      <div class="card" style="width: 18rem;">
        <%= image_tag("example.jpg", class: 'card-img-top') %>
        <div class="card-body">
          <h5 class="card-title"><%= dog.name %></h5>
          <p class="card-text">Breed: <%= dog.breed.name %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">City: <%= dog.city.name %></li>
          <li class="list-group-item">Age: <%= dog.age.years %></li>
        </ul>
        <div class="card-body">
          <%= link_to 'Show', dog, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_dog_path(dog), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
        </div>
      </div>
    
    <% end %>
  </div>

<br>

<%= paginate @dogs %>

<hr>

