<p id="notice"><%= notice %></p>

<h1>All stray dogs</h1>

<%= link_to 'New', new_dog_path %>

  <div>
    <% @dogs.each do |dog| %>

    <hr>
    
      <h3><%= dog.name %></h3>
      <p>Breed: <%= dog.breed.name %></p>
      <p>City: <%= dog.city.name %></p>
      <p>Age: <%= dog.age.years %></p>

      <%= link_to 'Show', dog %>
      <%= link_to 'Edit', edit_dog_path(dog) %>
      <%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <% end %>
  </div>

<br>


