
  <p id="notice"><%= notice %></p>

  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row no-gutters row-on-the-show">
      <div class="col-md-6">
         <%= image_tag("example.jpg", class: 'card-img-top') %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title"><%= @dog.name %></h1>
          <p class="card-text"><b>Breed: </b><%= @dog.breed.name %></p>
          <p class="card-text"><b>City: </b><%= @dog.city.name %></p>
          <p class="card-text"><b>Age: </b><%= @dog.age.years %></p>
        </div>
      </div>
    </div>

    <hr> 

    <div class="row no-gutters row-on-the-show">
      <div class="col-md-12">
        <h3>About</h3>
        <p class="card-text"><%= @dog.description %></p>
      </div>        
    </div>
    <%= link_to favorite_text, favorites_update_path(dog: @dog), id: 'favorite_link', remote: true, class: 'btn btn-danger' if current_user %>
    <%= link_to 'Edit information', edit_dog_path(@dog), class: 'btn btn-warning' if logged_in?(:site_admin) %>
  </div>




