<h4 class="font-italic">Filters</h4>

<hr>

<%= form_with(model: @dog, url: (current_page?(dogs_path) ? dogs_path : my_list_path), method: 'get') do |form| %>

  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

  <div class="form-group">
    <%= form.label :breed_id, 'Breed:' %> 
    <%= form.collection_select(:breed_id, Breed.all, :id, :name, { include_blank:"Select breed" }, class: 'form-control form-select') %>
  </div>

  <div class="form-group">
    <%= form.label :city_id, 'City:' %>
    <%= form.collection_select(:city_id, City.all, :id, :name, { include_blank:"Select city" }, class: 'form-control form-select') %>
  </div>

  <div class="form-group">
    <%= form.label :age_id, 'Age:' %>
  </div>

  <div class="form-group">
    <%= form.label :age_id, 'From' %>
    <%= form.collection_select(:age_from, Age.all, :id, :years, { include_blank:"Select age" }, class: 'form-control form-select') %>
    <br>
    <%= form.label :age_id, 'To' %>
    <%= form.collection_select(:age_to, Age.all, :id, :years, { include_blank:"Select age" }, class: 'form-control form-select') %>
  </div>

  <div>
    <%= submit_tag "Search", :name => nil, class: "btn btn-info" %>
  </div> 
<% end %> 