<div class="blog-post">
  <% @dogs.each do |dog| %>
  
  <hr>
  
    <div class="card" style="width: 18rem;">

      <%= image_tag("example.jpg", class: 'card-img-top') %>

      <div class="card-body">
        <h5 class="card-title"><%= dog.name %></h5>
        <p class="card-text">Breed: <%= dog.breed.name %></p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">City: <%= dog.city.name %></li>
        <li class="list-group-item">Age: <%= dog.age.years %></li>
      </ul>

      <div class="card-body">
        <%= link_to 'Show', dog, class: 'btn btn-primary' %>
        <% if page == "index" %>
          <%= render "shared/edit_and_delete_buttons", dog: dog if logged_in?(:site_admin) %>          
        <% else %>
          <%= render "shared/edit_and_delete_buttons", dog: dog %>
        <% end %>
        
      </div>

      <%= link_to favorite_text_for_list(current_user, dog.id), favorites_update_path(dog: dog.id), id: "favorite-#{dog.id}", remote: true, class: 'btn btn-danger' if current_user %>

    </div>    
  <% end %>
</div>

<br>