<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <%= link_to 'Stray Dogs', root_path, class: 'navbar-brand mr-auto mr-lg-0' %>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "List of Dogs", dogs_path, class: "nav-link #{active? dogs_path}" %>
      </li>
      <li class="nav-item">
        <%= link_to "My list", my_list_path, class: "nav-link #{active? my_list_path}" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <%= link_to "Favorites", my_favorites_path, class: "nav-link #{active? my_favorites_path}" if current_user %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>  
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
          </li>  
        <% end %>
      
    </ul>

    <%= form_with(url: dogs_path, method: 'get', remote: true, class: "form-inline my-2 my-lg-0") do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <div>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
      </div> 
    <% end %> 
  </div> 
</nav>