<%= form_with(model: subscribe, local: true) do |form| %>
  <% if subscribe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscribe.errors.count, "error") %> prohibited this subscribe from being saved:</h2>

      <ul>
        <% subscribe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :subscriptions do |subscription| %>
    <div>
      <%= subscription.label :breed_id, 'Breed:' %>
      <%= subscription.collection_select(:breed_id, Breed.all, :id, :name, { include_blank:"Select breed" }) %>

      <%= subscription.label :city_id, 'City:' %>
      <%= subscription.collection_select(:city_id, City.all, :id, :name, { include_blank:"Select city" }) %>

      <%= subscription.label :age_id, 'Age from:' %>
      <%= subscription.collection_select(:age_from, Age.all, :id, :years, { include_blank:"Select age" }) %>

      <%= subscription.label :age_id, 'Age to:' %>
      <%= subscription.collection_select(:age_to, Age.all, :id, :years, { include_blank:"Select age" }) %>
    </div>
  <% end %> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
