<h3 class="pb-4 mb-4 font-italic border-bottom">
  Subscribes
</h3>

<% if @subscribe %>
  <div>
    <% @subscribe.subscriptions.each do |subscription| %>
      <p>Breed: <%= subscription.breed.name if subscription.breed %> </p>
      <p>City: <%= subscription.city.name if subscription.city %> </p>
      <p>Age from: <%= subscription.age_from %> </p>
      <p>Age to: <%= subscription.age_to %> </p>
    <% end %>
  </div>
  <%= link_to 'Destroy', @subscribe, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_subscribe_path(@subscribe) %>
<% end %>

<p>If you have not found the dog you need, you can subscribe by specifying the criteria of the dog you need. When the dog with your description appears on the site, we will send an letter to your email</p>

<%= link_to 'Create Subscription', new_subscribe_path, class: 'btn btn-primary create-subscription-btn' unless current_user.subscribe %>
