<h1>Subscribes</h1>

<% if @subscribe %>
  <div>
    <% @subscribe.subscriptions.each do |subscription| %>
      <p>Breed: <%= subscription.breed.name %> </p>
      <p>City: <%= subscription.city.name %> </p>
      <p>Age from: <%= subscription.age_from %> </p>
      <p>Age to: <%= subscription.age_to %> </p>
    <% end %>
  </div>
  <%= link_to 'Destroy', @subscribe, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_subscribe_path(@subscribe) %>
<% end %>





      
    

<br>

<%= link_to 'New Subscribe', new_subscribe_path unless current_user.subscribe %>
